<h1>App Component</h1>

<!-- data binding one way (string interpolation) -->
<h2 class={{customClass}}>{{name}}</h2>
<h3>Time Now is : {{d}}</h3>
<h3>{{test()}}</h3>
<h3>{{s3+"hello"}}</h3>





<!--property binding -->
<label for="">Name : </label>
<input type="text">
<button [disabled]=isDisabled>Submit</button>

<h2 [hidden]=isHidden>Im Harsha</h2>
<img [src]=path alt="No image found" style="width: 200px;">
<!--we can use property binding for string interpolation but not vice versa-->
<img src={{path}} alt="No image found" style="width: 200px;">





<!--Class Binding-->
<h1 [class]="isActive?'active':'inactive'">Sample heading!</h1>
<h2 [class]="{c1:applyC1,c3:applyC3}">This is H2 Heading</h2>
<h3 [class.active]=isActive>This is 3rd method</h3>





<!--Style Binding-->
<h1 [style]="{color:cvar}">Hello style</h1>
<h1 [style.color]=cvar>Another way</h1>
<h3 [style]=myStyle>Cutomized One</h3>





<!-- Event Binding (HTML to TS file) -->
<button (click)="inc()">Increment Click</button>
<h1>Counter : {{counter}}</h1>
<button (click)="dec()">Decrement Click</button>

<label for="">Name : </label>
<input type="text" (input)="handleInp($event)">
<!-- <input type="text" on-input="handleInp($event)"> -->
<h1>Your name : {{yourname}}</h1>




<!--Two way data binding-->
<label for="">City : </label>
<input type="text" [(ngModel)]="city">

<p>The modified city is : {{city}}</p>

<button (click)="updateCity()">To another city</button>





<!--Directives-->
<!--
    Structural -> NgIf NgFor NgSwitch
-->
<h1 *ngIf="show">This is one more Heading</h1>

<table border="1">
    <tr>
        <th>Movie Name : </th>
    </tr>
    <!--tr is created for all iterations-->
    <tr *ngFor="let m of movies">
        <td>{{m}}</td>
    </tr>
</table>
<!--Same with *ngSwitch-->





<!--
    Attribute -> NgClass NgStyle NgModel
-->
<!--NgClass is for classbinding
NgStyle is for stylebinding-->




<!--NgIf-->
<!-- <h1 *ngIf="showHead">This is Heading 4</h1> -->
<h1 *ngIf="showHead">This is Heading 4</h1> 
<!-- used for loading above one  -->


<!-- betterment below to this -->
<!-- <div *ngIf="!data">Loading...</div>
<div *ngIf="data">{{data}}</div> -->


<!--Recommended ng-template-->
<ng-template #sample >{{data}} harsha</ng-template>
<!-- <div *ngIf="!data; else sample">Loading...</div>  -->

<ng-template #sampleLoad >Loading...</ng-template>
<ng-template #sampleError >Error!...</ng-template>

<div *ngIf="!data; then sampleLoad; else sample"></div>
<!--For one more then statement use down like thing we can extend it-->
<br>
<div *ngIf="!str; then sampleLoad; else str==='Error' ? sampleError : sample"></div>





<!--NgFor-->
<!-- <p *ngFor="let i of nums">Paragraph {{i}}</p> -->
<p *ngFor="let i of nums1; index as ind">Paragraph {{i}} {{ind}}</p>

<table border="1">
    <tr>
        <th>Content</th>
        <th>Index</th>
        <th>Even</th>
        <th>Odd</th>
        <th>First</th>
        <th>Last</th>
    </tr>
    <tr *ngFor="let i of nums1;index as ind;even as e;odd as o;first as f;last as l">
        <td>{{i}}</td>
        <td>{{ind}}</td>
        <td>{{e}}</td>
        <td>{{o}}</td>
        <td>{{f}}</td>
        <td>{{l}}</td>
    </tr>
</table>
<br>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Ram</th>
        <th>Storage</th>
    </tr>
    <tr *ngFor="let m of mobiles">
        <td>{{m.id}}</td>
        <td>{{m.name}}</td>
        <td>{{m.price}}</td>
        <td>{{m.ram}}</td>
        <td>{{m.storage}}</td>

    </tr>
</table>





<!--NgSwitch-->
<br>
<br>
<input type="number" [(ngModel)]="num1">
<br>
<input type="text" [(ngModel)]="op">
<br>
<input type="number" [(ngModel)]="num2">
<div [ngSwitch]="op">
    <div *ngSwitchCase="'+'">{{num1+num2}}</div>
    <div *ngSwitchCase="'-'">{{num1-num2}}</div>
    <div *ngSwitchCase="'*'">{{num1*num2}}</div>
    <div *ngSwitchCase="'/'">{{num1/num2}}</div>
    <div *ngSwitchDefault="">Default String</div>
</div>





<!--Pipes-->
<!-- <h1>{{child | uppercase}}</h1> -->
<!-- <h1>{{child | titlecase}}</h1> -->
<!-- <h1>{{child | lowercase}}</h1> -->
<h1>{{child | titlecase}}</h1>
<h1>{{salary | currency : 'INR' : 'symbol'}}</h1>

<h2>{{person1 | json}}</h2>
<h3>{{dob | date : 'dd/MM/YYYY'}}</h3>
<h4>{{num | percent}}</h4>

<h4>{{company | slice : 2 : 7}}</h4>





<!--Custome Pipes-->
<!--ng g p pipe-name-->

<!-- <h1>{{wish | test : "param1" : "param2"}}</h1> -->

<h1>{{identity | test : wish}}</h1>





<!--Template reference variable (Intra component communication)-->
<input type="text" placeholder="Enter email" #e value="abc@gmail.com">
<button (click)="updateEmail(e.value)">Enter</button>
<div #d class="one two">{{email}}</div>
<!--we can use same like dom inside html itself-->
<!--we can access all elements inside that by . operator-->
<div>{{d.classList}}</div>





<!--Inter component communication-->

<!--
    1) Parent to child -> Input decoarator
    2) Child to parent -> Output decorator template refernce Variable viewChild decorator
    3) Different components -> Services -> 
-->


<!--Parent to child-->
<!-- <app-header [childTopicName]="childTopicName" [data1]="data1" [parr]="parr"></app-header>This is child component -->
<!-- <app-header [childTopicName]="childTopicName" [data1]="data1" [parr]="parr2"></app-header>--><!--This is child component we can use as many types as needed -->


<!--output decoartor (Child to Parent)-->
<!-- <h2>{{cdata}}</h2>
<app-header (customeve)="cdata=$event"></app-header> -->





<!--template refernce variable (Child to Parent)-->
<!-- <br>
<div>This is : {{childRef.data2}}</div>
<div>This is : {{childRef.demo()}}</div> -->
<!-- <app-header #childRef ></app-header> -->



<!--viewChild Decorator (Child to Parent)-->
<br>
<button (click)="test2()">Click to send Info by View Child</button>
<div>Im In Parent CLass and view Child data is {{data4}}</div>
<app-header></app-header>